// Order
.order {
    .order-col {
        padding-top: 30px;
        padding-bottom: 30px;

        &:after {
            display: block;
            content: "";
            width: 60px;
            height: 60px;
            position: absolute;
            top: -5px;
            left: -5px;
            border-top: 4px solid $golden;
            border-left: 4px solid $golden;
        }

        &:before {
            display: block;
            content: "";
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: -5px;
            right: -5px;
            border-bottom: 4px solid $golden;
            border-right: 4px solid $golden;
        }
    }

    h1 {
        margin-bottom: 30px;
    }

    h3 {
        color: $golden;
    }

    .old-price {
        text-decoration: line-through;
    }

    .my-clock {
        .flip-clock-label {
            display: none;
            font-family: $font;
        }

        @media (max-width: 991px) {
            zoom: 0.3;
        }
    }

    .flip-clock {
        display: inline-block;
        width: auto;
    }

    .flip-clock-wrapper {
        margin: 0 auto;
        max-width: 640px;
        margin-top: 3rem;
        margin-bottom: 3rem;
        z-index: 0;
    }

    .form-group {
        margin-bottom: 20px;

        input:focus,
        select:focus {
            border-color: $golden;
            box-shadow: none;
        }
    }
}